:root {
  --primary-color: #2A4DD0;
  --background-color: #F2F9FE;
  --background-color2: #FFFFFF;
  --text-color1: #111729;
  --text-color2: #223344;
  --text-color3: #2A4DD0;
  --theme-background: #111729;
  --theme-background2: #FFFFFF;
}